 
 * {
      margin:0%;
      font-family: sans-serif;
      padding: 0%;
  }
  #index header {
      background-image: url(../assets/background/pix4.jpg);
      background-size: cover;
      height:100vh;
      background-position: center;
  }
  ul {
      float:right;
      list-style-type: none;
      margin-top: 25px;
  }
  ul li {
      display: inline-block;
  }
  ul li a {
      text-decoration:none;
      color:red;
      padding: 5px 20px;
      border: 1px solid transparent;
      transition: 1s ease;
  }
  ul li a:hover {
    background-color: #fff;
    color:#000;
}
 ul li.active a{
     background-color: #fff;
     color:#000;
 }
 .main {
     max-width: 1200px;
     margin: auto;
 }
 .title {
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%, -50%);
 }
 .title h1 {
     color:#000;
     text-decoration: overline;
     font-size: 25mm;
     color:rgba(255, 255, 255, 0.89);
 }
 .title p {
     font-style: italic;
     text-align: center;
     font-size: 10mm;
     color:rgba(255, 255, 255, 0.89);
 }
 .logo {
     float:left;
     width:150px;
     height:auto;
     margin-top: 25px;
     font-size: 5mm;
     font-weight: bolder;
     color: red;
 }
 .main {
     max-width:1200px;
     margin:auto;
 }
 #aboutus .about {
     text-align: center;
     margin-top: 50%;
     color: green;
 }
 #aboutus {
      background-image: url(../assets/background/pizza.jpg);
      background-size: cover;
      height:100vh;
      background-position: center;
      height: 600px;
      background-color: rgba(255, 255, 255, 0.651);
      background-blend-mode: lighten;
 }
 #aboutus #about {
      text-align: center;
      font-size:15mm;
      font-weight: bolder;
 }
 #aboutus .paragraph {
     text-align: center;
     font-weight: bolder;
     font-style: normal;
     font-family: sans-serif;
     font-size: 7mm;
     color:green;
 }
 #aboutus #enjoy {
     color: tomato;
     font-style: normal;
     font-weight: bold;
     font-size: 10mm;
 }
 #menu {
    background-image: url(../assets/background/menu.jpg);
    background-size: cover;
    height:100vh;
    background-position: center;
 }
 #contact {
    background-image: url(../assets/background/pix3.webp);
      background-size: cover;
      height:100vh;
      background-position: center;
      height: 600px;
      background-color: rgba(255, 255, 255, 0.651);
      background-blend-mode: lighten;
 }
 #contact #fullname {
    position: absolute;
    top: 22%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: x-large;
    background: transparent;
  }
 #contact #email {
    position: absolute;
    top: 22%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: x-large;
    background: transparent;
  }
  #contact #message {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: x-large;
    background: transparent;
  }
  #contact #SUBMIT {
    position: absolute;
    top: 63%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: x-large;
  }
 #contact .socials {
     position: absolute;
     top: 70%;
     bottom: 20%;
     left: 40%;
     text-align: center;
 }
 #contact .footer {
     text-align: center;
     color: red;
     font-weight: bold;
     font-family: sans-serif;
     bottom: 15%;
     font-size: 9mm;
     left: 40%;
     position: absolute;
 }
 #contact .contactus {
     position: absolute;
     text-align: center;
     top: 8%;
     left: 38%;
     color:green;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 13mm;
 }
 #contact .logo {
    float:left;
    width:150px;
    height:auto;
    font-size: 4mm;
    font-weight: bolder;
    color: red;
 }
  #contact  ul li.active a {
        background-color: #fff;
        color:#000;
  }
  #aboutus  ul li.active a {
    background-color: #fff;
    color:#000;
}
#aboutus .logo {
    float:left;
    width:150px;
    height:auto;
    font-size: 4mm;
    font-weight: bolder;
    color: red;
 }
 #menu  ul li.active a {
    background-color: #fff;
    color:#000;
}
#menu .logo {
    float:left;
    width:150px;
    height:auto;
    font-size: 4mm;
    font-weight: bolder;
    color: red;
 }
 #menu #container {
     background-color: grey;
 }
 #menu .fooday {
     text-align: center;
     position: fixed;
     top: 8%;
     left: 34%;
     color:white;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 9mm;
 }
 #menu .intro{
     text-align: center;
     position: fixed;
     top: 14%;
     left: 25%;
     color: black;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 7mm;
     background-color:rgba(153, 83, 83, 0.904) ;
 }
 #menu .menu {
     position: absolute;
     top: 30%;
     left:40%;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 7mm;
     background-color: rgba(240, 128, 128, 0);
 }
 #menu .titleSize {
    position: fixed;
    top: 37%;
    left:37%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5mm;
}
 #menu .size {
    position: fixed;
    top: 37.0%;
    left:40%;
    font-weight: bold;
    font-family: sans-serif;
    size: 5mm;
}
#menu .crustt {
    position: fixed;
    top: 44%;
    left:35.5%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5mm;
}
#menu #formcrust {
    position: fixed;
    top: 44.5%;
    left:40.5%;
    font-weight: bold;
    font-family: sans-serif;
    size: 5mm;
}
#menu .toppings {
    position: fixed;
    top: 53%;
    left:35%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5mm;
}
#menu #select-toppings {
    position: fixed;
    top: 53%;
    left:40.5%;
    font-weight: bold;
    font-family: sans-serif;
    size: 5mm;
}
#menu .quantity {
    position: fixed;
    top: 60.5%;
    left:35%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5mm;
}
#menu .form {
    position: fixed;
    top: 60.5%;
    left:41%;
    font-weight: bold;
    font-family: sans-serif;
    size: 5mm;
} 
#menu .addbutton{
    position: fixed;
    top: 61.5%;
    left:46%;
    font-weight: bold;
    font-family: sans-serif;
    size: 15mm;
    font-size: 15mm;
}
#menu .order-center {
    position: fixed;
    top: 69%;
    left:41.5%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 6mm;
}
#menu #list {
    position: fixed;
    top:71%;
    left:40%;
    font-weight: normal;
    font-style: italic;
    font-size: 6mm;
    color: red;
}
#menu .yesDelivery {
    position: fixed;
    top: 80.55%;
    left:39%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 4mm;
}
#menu .nameDetails {
    position: fixed;
    top: 85.5%;
    left:27%;
    font-weight: bold;
    font-family: sans-serif;
    size: 10mm;
    color: black;
}
#menu .numberDetails {
    position: fixed;
    top: 85.5%;
    left:38%;
    font-weight: bold;
    font-family: sans-serif;
    size: 10mm;
    color: black;
}
#menu .locationDetails {
    position: fixed;
    top: 85.5%;
    left:49%;
    font-weight: bold;
    font-family: sans-serif;
    size: 10mm;
    color: black;
}
#menu .acceptDelivery {
    position: fixed;
    top: 90.55%;
    left:37%;
    font-weight: bold;
    font-family: sans-serif;
    size: 8mm;
}
#menu .denyDelivery {
    position: fixed;
    top: 90.55%;
    left:45%;
    font-weight: bold;
    font-family: sans-serif;
    size: 8mm;
    background-color: yellow;
}
@media only screen and (max-width:800px) {
    .vertical {
        width: 100%;
    }
}